.User-registry {
    display: block;
    width: 800px;
    margin: auto;
}

.register-button {
    margin-top: 30px;
    text-align: center;
}

.registry-list {
    margin-top: 40px;
    background-color: azure;
}

.email-list-item {
    margin: 12px;
}

.email-list-item .email {
    font-weight: bold;
    margin-right: 12px;
}

.email-list-item .ciudad {
    margin-right: 12px;
}

.email-list-item .data {

}

.email-list-item button {
    margin-left: 12px;
}

.exp-label {
    color: rgba(0, 0, 0, 0.54);
    font-weight: 600;
    font-size: 0.73rem;
}
