@import '../../styles/Picky';

.register-screen {
  height: 100%;
  display: flex;
  flex-direction: column;
  .rs-header {
    text-align: center;
    font-size: 2em;
    padding: 20px 0 20px;
    font-weight: 700;
  }
  .rs-body {
    flex-grow: 1;
    .rs-form {
      padding-top: 20px;
      .register-choro {
        margin-bottom: 40px;
      }
    }
    .rs-overlay {
      height: 100%;
      width: 100%;
      display: flex;
      flex-direction: row;
      .overlay-column {
        flex:1;
        height: 100%;
        display: flex;
        justify-content: center;
        button {
          margin-top:auto;
          margin-bottom: 40px;
        }
      }
      &.mobile {
        flex-direction: column;
        .overlay-column {
          height: unset;
          width: 100%;
        }
      }
    }
  }
  .user-column {
    background-color: white;
  }
  .chef-column {
    background-color: $picky-orange;
  }

  .rs-footer{
    padding: 20px 40px;
    .register-button {
      text-align: center;
    }
    .footer-right {
      float: right;
    }
  }

  .return {
    position:absolute;
    top: 5px;
    left:5px;
  }

  .exp-label {
    color: rgba(0, 0, 0, 0.58);
    font-weight: 600;
    font-size: 0.73rem;
  }
  .alert-wrapper {
    margin-top: 15px;
  }
  .form-instruction {
    color: rgba(0, 0, 0, 0.58);
    font-weight: 500;
    font-size: 16px;
    margin: 20px 0 12px;
  }
}