@import 'src/styles/Picky';

.picky-home {

}
.tile {
  display:block;
  height: 768px;
  width: 100%;
  .tile-content {
    display: block;
    height: 100%;
    width: 1366px;
    margin: auto;
    background-size: contain;
    position: relative;
    .register-button-positioner {
      position:absolute;
    }
  }
  .page1 {
    background-image: url("../Home01.png");
    .register-button-positioner {
      top: 80.5%;
      left: 6.3%;
    }
  }
  .page2 {
    background-image: url("../Home02.png");
    .register-button-positioner {

    }
  }
  .page3 {
    background-image: url("../Home03.png");
    .register-button-positioner {
      top: 82.8%;
      left: 71.6%;
    }
  }
  .page4 {
    background-image: url("../Home04.png");
  }
  .page5 {
    background-image: url("../Home05.png");
  }
  .page6 {
    background-image: url("../Home06.png");
  }
  .page7 {
    background-image: url("../Home07.png");
  }
}
.tile-white {
  background-color: $background-white;
}
.tile-orange {
  background-color: $picky-orange;
}

// FONT TESTS
.font-test-wrapper {
  position: fixed;
  top: 15px;
  left: 15px;
  z-index: 200;
}
.font-test {
  padding-top: 20px;
  font-size: 60px;
}
.demasiado {
  margin-top: 40px;
  font-size: 60px;
  font-weight: 600;
}
.ft-Heebo {
  font-family: 'Heebo', sans-serif;
  font-weight: 600;
}
.ft-Inter {
  font-family: 'Inter', sans-serif;
  font-weight: 700;
}
.ft-Poppins {
  font-family: 'Poppins', sans-serif;
  font-weight: 600;
}
.ft-PublicSans {
  font-family: 'Public Sans', sans-serif;
  font-weight: 700
}
.ft-Roboto {
  font-family: 'Roboto', sans-serif;
  font-weight: 600;
}