@import 'src/styles/Picky';

.picky-mobile-flex {
    .tile {
        display:block;
        width: 100%;
        .tile-content {
            display: flex;
            margin: auto;
            background-size: contain;
            position: relative;
            justify-content: center;
            .register-button-positioner {
                position:absolute;
            }
            .mobile-img-overlay {
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%
            }
            img {
                width: 100%;
                height: auto;
            }
        }
        .page1 {
            .register-button-positioner {
                top: 85%;
            }
        }
        .page2 {
            .register-button-positioner {
                top: 85%;
            }
        }
        .page3 {
            .register-button-positioner {
                top: 85%;
            }
        }
    }
    .tile-white {
        background-color: $background-white;
    }
    .tile-orange {
        background-color: $picky-orange;
    }
}