.picky-register-wrapper{
    width: 800px;
    height: 700px;
    max-height: 100%;
    max-width: 100%;
    display: flex;
    flex-direction: column;
    position: relative;
    .picky-register {
        flex-grow: 1;
        .picky-register-padded {
            padding: 0 40px;
            height: 100%;
        }
        .picky-register-header {
            text-align: center;
            font-size: 2em;
            padding: 20px 20px;
            font-weight: 700;
        }
        .return-wrapper {
            position:absolute;
            top: 30px;
            left:40px;
        }
    }
    &.mobile {
        height: 600px;
        .picky-register {
            .return-wrapper {
                //top: 70px;
                left:5px;
            }
            .picky-register-padded {
                margin-top: 45px;
                padding: 0 10px;
            }
        }
    }
}


.registry-list {
    position:fixed;
    bottom:10px;
    right: 10px;
    .email-list-item {
        margin-top: 4px;
        padding: 12px;
        background-color: azure;
        border-radius: 4px;
        //width: fit-content;
        margin-left: auto;
        margin-right: 0;
        .email {
            font-weight: bold;
            margin-right: 12px;
        }
        .ciudad {
            margin-right: 12px;
        }
        .data {

        }
        button {
            float: right;
        }
    }
    &.left-aligned {
        left: 10px;
        right: unset;
        .email-list-item {
            background-color: lightpink;
        }
    }
}