.user-register {
  .page-header {
    text-align: center;
    font-size: 2em;
    padding: 20px 0;
    font-weight: 700;
  }
  .register-choro {
    margin-bottom: 40px;
  }

  .return {
    position:absolute;
    top: 5px;
    left:5px;
  }

  .register-button {
    margin-top: 30px;
    text-align: center;
  }

  .exp-label {
    color: rgba(0, 0, 0, 0.54);
    font-weight: 600;
    font-size: 0.73rem;
  }

}