.global-notifications {
    position:fixed;
    top:20px;
    left: 50%;
    width: 1px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    z-index: 1000;
    .notification-item-wrapper {
        display: block;
        margin-bottom: 6px;
        width: 1000px;
        max-width: 80vw;
    }
}